h1{
	text-align: center;
}

body{
	font-family: 'Yellowtail', cursive;
	font-size: bold;
	color:#E6E9EB;
	text-align: center;
	background-image: url(pictures/slideshow.jpg);

}

#sub{
	margin-top: 20px;
}